/* local.css */ 

@import 'global.css';
/*
#modalCrop {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */ /*
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
*/
.yaxis {
  border: solid #99CC99;  
}

.profileava {
  max-width: 100%;
  max-height: 100%;
  border: solid #99CC99;
}

.profileava:hover{
  border: solid #55AA55;
}

li .profileava {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

li .profileava:hover {
  filter:blur(5px);
}

td .profileava {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.danger {
  color: #550000 !important;
}

.danger:hover {
  color: red;
  font-weight: bolder;
  font-size: 1.2em;
  background-color: #AADDDD;
  font-variant: small-caps;
}


.djengatable {
  border-radius: 15px 50px;
}

.djengath {
  /* border: 1px solid #dddddd; */
  text-align: left;
  background-color: #EEAAEE;
  padding-top: 20px;
}

.djengatl {
  border-top-left-radius: 20px;
  padding-left: 50px;
}

.djengatr{
  border-top-right-radius: 20px;
  padding-right: 50px;
}

.djengatd {
  background-color: #EEAAEE;
}

.djengatd:hover {
  background-color: #FFCCFF;
}

.circle--actions--bar {
  background-color: #99CC99;
}

.circle--article--body ul {
  list-style-type: disc;
}

.circle--article--body ol {
  list-style-type: upper-roman;
}

.circle--article--body h1 {
  font-size: 1.5em;
  margin: 0.60em 0;
}

.circle--article--body h2 {
  font-size: 2.0rem;
}

.circle--article--body h3 {
  font-size: 1.5rem;
}

.circle--article--body h4 {
  font-size: 1.4rem;
}

/* HOW CAN I GET RID OF THE LI CIRCLE STYLE IN MY PROJECT DETAIL VIEW?
The following adds a second disc bullet atop the existing circle bullet.
No bullet at all would be ideal.  Failing that, I prefer the filled-in disc to the hollow circle.
.circle--group--list li {
  list-style-type: disc;
}
*/