/* local.css */ 

@import 'global.css';

#modalCrop {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.djengatable {
  border-radius: 15px 50px;
}

.djengath {
  /* border: 1px solid #dddddd; */
  text-align: left;
  background-color: #EEAAEE;
  padding-top: 20px;
}

.djengatl {
  border-top-left-radius: 20px;
  padding-left: 50px;
}

.djengatr{
  border-top-right-radius: 20px;
  padding-right: 50px;
}

.djengatd {
  background-color: #EEAAEE;
}

.djengatd:hover {
  background-color: #FFCCFF;
}

.circle--actions--bar {
  background-color: #99CC99;
}

.circle--article--body ul {
  list-style-type: disc;
}

.circle--article--body ol {
  list-style-type: upper-roman;
}

.circle--article--body h1 {
  font-size: 1.5em;
  margin: 0.60em 0;
}

.circle--article--body h2 {
  font-size: 2.0rem;
}

.circle--article--body h3 {
  font-size: 1.5rem;
}

.circle--article--body h4 {
  font-size: 1.4rem;
}

/* HOW CAN I GET RID OF THE LI CIRCLE STYLE IN MY PROJECT DETAIL VIEW?
The following adds a second disc bullet atop the existing circle bullet.
No bullet at all would be ideal.  Failing that, I prefer the filled-in disc to the hollow circle.
.circle--group--list li {
  list-style-type: disc;
}
*/