{% extends "layout.html" %}

{% block title_tag %}Applicant List | {{ block.super }}{% endblock %}
{% block body %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a class="selected" href="{% url 'accounts:applications' pk=user.id %}">Applications</a></li>
		<!-- 
		
		THIS PAGE IS A LIST OF APPLICANTS FOR ANY OF LOGGED-IN USER's PROJECTS.
		
		-->
        <li><a href="{% url 'accounts:details' pk=user.id %}">Profile</a></li>
      </ul>
    </nav>
  </div>

  <div class="bounds circle--page">
    <div class="circle--page--header grid-100">
      <h2>Applications</h2>
    </div>

    <div class="grid-25">
      <div class="circle--filter circle--secondary--module">
        <h4>Status</h4>
        <ul class="circle--filter--list">
          <li><a class="selected">All Applications</a></li>
          <li><a>New Applications</a></li>
          <li><a>Accepted</a></li>
          <li><a>Rejected</a></li>
        </ul>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>My Projects</h4>
        <ul class="circle--filter--list">
          <li><a class="selected">All Projects</a></li>
		  <!-- forloop of projects to modify list -->
		  <!--
		  Link takes project as context to reload current page.
		  -->
		  {% for project in user.projects %}
          <li><a>{{ project.name }}</a></li>
          <li><a>Twitter Client</a></li>
		  {% endfor %}
		  <!-- endfor -->
        </ul>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>Project Needs</h4>
        <ul class="circle--filter--list">
		  <!--
		  Include django forloop list of Positions here.
		  List should include all positions in all projects User has created.
		  -->
          <li><a class="selected">All Needs</a></li>
		  <!-- forloop of positions needed across projects -->
		  <!-- 
		  View will consolodate all repeat positions.
		  These links will display a list of applicants for this position
		  across all projects.
		  -->
		  {% for position in position_set %}

          <li><a href="#">{{ position.name }}</a></li>
		  <!-- Link should clarify context. -->
          <li><a>Designer</a></li>
          <li><a>Java Developer</a></li>
          <li><a>PHP Developer</a></li>
          <li><a>Python Developer</a></li>
          <li><a>Rails Developer</a></li>
          <li><a>WordPress Developer</a></li>
          <li><a>iOS Developer</a></li>
		  {% endfor %}
		  <!-- endfor -->
        </ul>
      </div>

    </div>

    <div class="grid-70 grid-push-5">
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Applicant</th>
            <th class="circle--cell--right">Applicant Position</th>
          </tr>
        </thead>
        <tbody>
		  {% for applicant in applicant_set %}
          <tr class="clickable-row" data-href="{% url 'accounts:details' pk=applicant.user.id %}">
            <td>
              <h3>{{ applicant.user.name }}</h3>
              <p>{{ applicant.position.project.name }}</p>
            </td>
            <td class="circle--cell--right">
              <span class="secondary-label">{{ applicant.position.name }}</span>
            </td>
          </tr>
		  {% endfor %}
        </tbody>
      </table>

    </div>

  </div>
{% endblock %}