{% extends "layout.html" %}
{% load humanize %}

{% block title_tag %}Applicant List | {{ block.super }}{% endblock %}
{% block body %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a class="selected" href="{% url 'accounts:applications' pk=user.id %}">Applications</a></li>
        <li><a href="{% url 'accounts:details' pk=user.id %}">Profile</a></li>
      </ul>
    </nav>
  </div>
		<!-- 
		THIS PAGE IS A LIST OF APPLICANTS FOR ANY OF LOGGED-IN USER's PROJECTS. -->
  <div class="bounds circle--page">
    <div class="circle--page--header grid-100">
      <h2>Applications</h2>
    </div>

    <div class="grid-25">
      <div class="circle--filter circle--secondary--module">
        <h4>Status</h4>
        <ul class="circle--filter--list">
          <li><a {% if term %}href="{% url 'accounts:applications' pk=user.id %}"{% else %}class="selected"{% endif %}>All Applications</a></li>
          <li><a {% if term == 'u' %}class="selected"{% else %}href="{% url 'accounts:applicationsstatus' pk=user.id term='u' %}"{% endif %}>New Applications</a></li>
          <li><a {% if term == 'a' %}class="selected"{% else %}href="{% url 'accounts:applicationsstatus' pk=user.id term='a' %}"{% endif %}>Accepted</a></li>
          <li><a {% if term == 'r' %}class="selected"{% else %}href="{% url 'accounts:applicationsstatus' pk=user.id term='r' %}"{% endif %}>Rejected</a></li>
        </ul>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>My Projects</h4>
        <ul class="circle--filter--list">
          <li><a {% if term %}href="{% url 'accounts:applications' pk=user.id %}"{% else %}class="selected"{% endif %}>All Projects</a></li>
		  <!-- forloop of projects to modify list -->
		  <!--
		  Link takes project as context to reload current page.
		  -->
		  {% for project in user.projects.all %}
			  {% if project.active %}
				<li><a {% if term == project.name %}class="selected"{% else %}href="{% url 'accounts:applicationsproject' pk=user.id term=project.name %}{% endif %}">{{ project.name }}</a></li>
			  {% else %}
				<li>{{ project.name }} [Inactive]</li>
			  {% endif %}
		  {% endfor %}
		  <!-- endfor -->
        </ul>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>Project Needs</h4>
        <ul class="circle--filter--list">
		  <!--
		  Include django forloop list of Positions here.
		  List should include all positions in all projects User has created.
		  -->
          <li><a {% if term %}href="{% url 'accounts:applications' pk=user.id %}"{% else %}class="selected"{% endif %}>All Needs</a></li>
		  <!-- forloop of positions needed across projects -->
		  <!-- 
		  View will consolodate all repeat positions.
		  These links will display a list of applicants for this position
		  across all projects.
		  -->
		  {% for position in positions %}
			  {% if position.active %}
				  {% if position.project.active %}
						  <!-- Only show if position and project active... -->
						  <li><a {% if term == position.name %}class="selected"{% else %}href="{% url 'accounts:applicationsposition' pk=user.id term=position.name %}"{% endif %}>{{ position.name }}</a></li>
			      {% endif %}
			  {% endif %}
		  <!-- Link should clarify context. -->
		  {% endfor %}
		  <!-- endfor -->
        </ul>
      </div>

    </div>

    <div class="grid-70 grid-push-5">
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th><h4>Applicant</h4><br><h4>Project</h4></th>
			<th><h4>Position<h4></th>
            <th><h4>Applied</h4></th>
            <th class="circle--cell--right"><h4>Option/Status</h4></th>
          </tr>
        </thead>
        <tbody>
		  {% for applicant in applicants %}
          <tr>
            <td>
			  <a href="{% url 'accounts:details' pk=applicant.user.id %}">
				{% if applicant.user.avatar %}
					<img src="{{ applicant.user.avatar.url }}" class="profileava">
				{% else %}
					<img src="{{MEDIA_URL}}/media/avatars/default.png" class="profileava">
				{% endif %}
				<h3>{% if applicant.user.display_name %}{{ applicant.user.display_name }}{% else %}{{ applicant.user.username }}{% endif %}</h3>
			  </a>
              <p>{{ applicant.position.project.name }}</p>
            </td>
            <td>
              <span class="secondary-label">{{ applicant.position.name }}</span>
            </td>
			<td>
				<span class="secondary-label">{{ applicant.applied|naturaltime }}</span>
			</td>
			<td class="circle--cell--right">
				{% if applicant.status == 'a' %}
					<a class="button button-primary button-inactive" style="color: green;">ACCEPTED</a>
				{% elif applicant.status == 'r' %}
					<a class="button button-primary button-inactive" style="color: gray;">RUNNER-UP</a>
				{% else %}
					<a class="button button-primary" href="{% url 'projects:hire' pk=applicant.id %}">ACCEPT</a>
					<a class="button" href="{% url 'projects:deny' pk=applicant.id %}" style="color: red;">DENY</a>
				{% endif %}
			</td>
          </tr>
		  {% endfor %}
        </tbody>
      </table>

    </div>

  </div>
{% endblock %}