{% extends "layout.html" %}
{% load staticfiles %}

{% block title_tag %}Upload/Update {{ form.username }} Photo | {{ block.super }}{% endblock %}
{% block body %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a href="{% url 'accounts:applications' pk=user.id %}">Applications</a></li>
        <li><a class="selected" href="{% url 'accounts:details' pk=user.id %}">Profile</a></li>
      </ul>
    </nav>
  </div>
	  <div class="bounds circle--page">
		<div class="circle--page--header circle--fluid">
		  <div class="circle--fluid--cell circle--fluid--primary">
			<h2>Update Photo</h2>
		  </div>
		</div>
		<div class="grid-70">
		  <!-- FORM TO UPDATE THE IMAGE -->
		  {% if user.avatar %}
			  <h4>Current Photo:</h4>
			  <img src="{{ user.avatar.url }}" alt="{{ user.username }}" title="{{ user.username }}'s Current Photo" width="200" height="200">
		  {% endif %}
		  <form method="post" enctype="multipart/form-data" id="formUpload">
		    {% csrf_token %}
			{{ form }}
			<input type="submit" value="Update Avatar" class="button button-primary"/>
		  </form>
		</div>
	  </div>
{% endblock %}