{% extends "layout.html" %}
{% load staticfiles %}

{% block title_tag %}Edit {{ user.username }} Skills | {{ block.super }}{% endblock %}
{% block body %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
	  <div class="bounds circle--page">
		<div class="circle--page--header circle--fluid">
		  <div class="circle--fluid--cell circle--fluid--primary">
			<h2>Your Skills</h2>
				{% for form in formset %}
					<div class="skill-formset">
						{{ form.name }}
						{% if form.name.errors %}
							{% for error in form.name.errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
					</div>
				{% endfor %}

				{% if link_formset.non_form_errors %}
					{% for error in link_formset.non_form_errors %}
						{{ error|escape }}
					{% endfor %}
				{% endif %}<br><br>
				<input type="submit" value="Update Profile" class="button button-primary"/>
		  </div>
		</div>
	  </div>

</form>

<!-- Include formset plugin - including jQuery dependency -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>
<script>
    $('.skill-formset').formset({
        addText: 'Add Skill',
        deleteText: 'Remove Skill'
    });
	$(".skill-formset").find('.delete-row, .add-row').addClass('button button-primary');
</script>
{% endblock %}