{% extends "layout.html" %}
{% load staticfiles %}

{% block title_tag %}Edit {{ form.username }} Details | {{ block.super }}{% endblock %}
{% block body %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a href="{% url 'accounts:applications' pk=user.id %}">Applications</a></li>
        <li><a class="selected" href="{% url 'accounts:details' pk=user.id %}">Profile</a></li>
      </ul>
    </nav>
  </div>
  <form method="POST" enctype="multipart/form-data" action="{% url 'accounts:edit' pk=user.id %}" id="profile">
    {% csrf_token %}
	{{ formset.management_form }}
	{% comment %}{{ form }}{% endcomment %}
	  <div class="bounds circle--page">
		<div class="circle--page--header circle--fluid">
		  <div class="circle--fluid--cell circle--fluid--primary">
			<h2>Profile</h2>
		  </div>
		  <div class="circle--fluid--cell circle--fluid--secondary">
			<button type="submit" class="button button-primary" form="profile" action="">Save Changes</button>
		  </div>
		</div>
		<div class="grid-70">
		  <!-- FORM display_name field -->
		  {{ form.display_name.errors }}
		  {{ form.display_name.help_text }}
		  {{ form.display_name }}
		  <!-- Put html below in display_name widget options -->
		  {% comment %}<input type="text" placeholder="{{ form.display_name }}" value="{{ form.display_name }}" class="circle--input--h1" form="profile">{% endcomment %}
		  <div class="circle--article--body">
			<!-- FORM bio field -->{{ form.bio.help_text }}{{ form.bio }}{% comment %}<textarea placeholder="{{ form.bio }}" form="profile">{{ form.bio }}</textarea>{% endcomment %}
		  </div>
		  {% comment %}
		  <h2>Past Projects</h2>
		  <table class="u-full-width circle--table">
			<thead>
			  <tr>
				<th>Project Title</th>
				<th class="circle--cell--right">Project Needs</th>
			  </tr>
			</thead>
			<tbody>
			  {% for project in user.projects %}
			  <tr class="clickable-row" data-href="{% url 'projects:details' pk=project.id %}" target="_blank">
				<td>
				  <h3>{{ user.project.name }}</h3>
				</td>
				<td class="circle--cell--right">
				  <span class="secondary-label">{% for position in project.positions %}{{ position.name }}<br>{% endfor %}</span>
				</td>
			  </tr>
			  {% endfor %}
			</tbody>
		  </table>
		  {% endcomment %}
		</div>

		<div class="grid-25 grid-push-5">

		  <div class="circle--secondary--module">
			<div class="circle--primary--avatar">
				{{ form.avatar }}<br>Upload Photo
			</div>
		  </div>

		  <div class="circle--fluid--cell circle--fluid--secondary">
			<h4>Your Skills</h4>
			{% for form in formset %}
				<div class="skill-formset">
					{{ form.name }}
					{% if form.name.errors %}
						{% for error in form.name.errors %}
							{{ error|escape }}
						{% endfor %}
					{% endif %}
				</div>
			{% endfor %}

			{% if formset.non_form_errors %}
				{% for error in formset.non_form_errors %}
					{{ error|escape }}
				{% endfor %}
			{% endif %}
			<br><br>
		  </div>
		</div>

	  </div>
  </form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>
<script>
    $('.skill-formset').formset({
        addText: 'Add New Skill',
        deleteText: 'Remove'
    });
	$(".skill-formset").find('.delete-row, .add-row').addClass('button button-primary');
</script>
  {{ form.media }}
{% endblock %}