{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title_tag %}Forgot your password? | {{ block.super }}{% endblock %}
{% block body_content %}
<div class="container">
    <h1>Forgot your password?</h1>
    <p>Yikes! <br>Don't sweat it, we got you covered.  If you is even your <em>real</em> name...  <br>Please enter your email below, and we'll get this all sorted out together.</p>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Send me instructions" class="btn btn-default">
    </form>
</div>
{% endblock %}