{% extends "layout.html" %}

{% block title_tag %}{{ project.name }} | {{ block.super }}{% endblock %}
{% block body %}
  {% if user.is_authenticated %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a href="{% url 'accounts:applications' pk=user.id %}">Applications</a></li>
        <li><a href="{% url 'accounts:details' pk=user.id %}">Profile</a></li>
      </ul>
    </nav>
  </div>
  {% endif %}
{% if user == project.creator %}
  <div>
    <div class="bounds">
      <div class="grid-100">
        <a class="button" href="{% url 'projects:update' pk=project.id %}">Edit Project</a>
        <a class="button button-text:hover" href="{% url 'projects:suspend' pk=project.id %}" style="color: red;">Suspend Project</a>
      </div>
    </div>
  </div>
{% endif %}
  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--header">
        <h4 class="circle--article--section">Project</h4>
        <h1 class="circle--article--title">{{ project.name }}</h1>
        <p class="circle--article--byline">Project Owner: <a href="{% url 'accounts:details' pk=project.creator.id %}">{% if project.creator.display_name %}{{ project.creator.display_name }}{% else %}{{ project.creator.username }}{% endif %}</a></p>
		<p>{{ project.url }}</p>
      </div>

      <div class="circle--article--body">
		{{ project.formatted_markdown|safe }}
		<!--
		ADDITIONAL CODE TO FORMAT LONG TEXT STRING EITHER IN TEMPLATE TAG OR IN VIEWS.
		-->
      </div>

      <div class="circle--project--positions"><!-- class="circle--project--positions" -->
        <h2>Positions</h2>
		<table class="djengatable"><!-- class="circle--table" --><!--style="border: 1px solid black;"-->
			<tr>
				<th class="djengath djengatl"><h3>Title</h3></th>
				<th class="djengath"><h3>Desired Skills</h3></th>
				<th class="djengath djengatr"><h3>Availability</h3></th>
			</tr>
        <!-- <ul class="circle--group--list"> -->
		<!-- 
		Use Django forloop to LIST Position titles and brief descriptions of positions. -->
			{% for position in project.positions.all%}
				<tr class="clickable-row djengatd" data-href="{% url 'projects:positiondetails' pk=position.project.id pospk=position.id %}">
				<td style="border: 1px solid #dddddd;"><h4>{{ position.name }}</h4></td> <!-- </h3> -->
					<td width="45%" style="border: 1px solid #dddddd;"><h4>{% if position.skills.all %}- {% for skill in position.skills.all %}{{ skill.name }} - {% endfor %}{% else %}Yours?{% endif %}</h4></td>
					<td width="15%" style="border: 1px solid #dddddd;">
						<h4>
						{% if position.user == user %}
							The position is yours.
						{% elif position.filled %}
							Closed.
						{% elif applicants %}<!-- This checks if user has any applications for THIS project. -->
							{% for applicant in applicants %}
								{% if applicant.position == position %}
									{% if applicant.status == 'u' %}
										<!-- 'u' is for undecided.  'r' is for rejected... -->
										Your application is processing.
									{% else %}
										Closed.
									{% endif %}
								{% else %}
									Open.
								{% endif %}
							{% endfor %}
						{% elif user.is_authenticated %}
							Open.
						{% else %}
							Sign In for more options.
						{% endif %}
						</h4>
					</td>
				</tr>
			{% endfor %}
		</table>
      </div>

    </div>

    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <h3>Project Needs</h3>
        <ul class="circle--link--list">
		<!-- Link goes to applications page with position as context -->
		  {% for position in project.positions.all %}
          <li><a>{{ position.name }}</a><!-- If user is owner --><a href="{% url 'projects:changeposition' pk=position.project.id pospk=position.id %}">[Edit]</a></li>
		  
          {% endfor %}
        </ul>
		<!-- If user is signed in and is owner -->
		{% if user == project.creator %}
			<a class="button button-primary" href="{% url 'projects:newposition' pk=project.id %}">Add Position</a>
		{% endif %}
		<!-- -->
      </div>

      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        <p>{{ project.time }}</p>
      </div>

      <div class="circle--secondary--module">
        <h3>Applicant Requirements</h3>
        <p>{{ project.requirements }}</p>
      </div>

    </div>
  </div>

{% endblock %}