{% extends "layout.html" %}

{% block title_tag %}{{ project.name }} | {{ block.super }}{% endblock %}
{% block body %}

  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        <a class="button" href="{% url 'projects:edit' pk=project.id %}">Edit Project</a>
        <a class="button button-text" href="{% url 'projects:delete' pk=project.id %}">Delete Project</a>
      </div>
    </div>
  </div>

  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--header">
        <h4 class="circle--article--section">Project</h4>
        <h1 class="circle--article--title">{{ project.name }}</h1>
        <p class="circle--article--byline">Project Owner: <a>{{ project.creator.display_name }} </a></p>
      </div>

      <div class="circle--article--body">
		{{ project.description.as_p }}
		<!--
		ADDITIONAL CODE TO FORMAT LONG TEXT STRING EITHER IN TEMPLATE TAG OR IN VIEWS.
		-->
      </div>

      <div class="circle--project--positions">
        <h2>Positions</h2>

        <ul class="circle--group--list">
		<!-- 
		Use Django forloop to LIST Position titles and brief descriptions of positions. -->
			{% for position in project.positions %}
			<li>
				<h3>{{ position.name }}</h3>
				<p>{{ position.description }}</p>
				{% if position.filled %}
				<a class="button button-primary button-inactive">Position Filled</a>
				{% else %}
				<a href="" class="button button-primary">Apply</a>
				{% endif %}
			</li>
			{% endfor %}
		<!-- 
		####ADD LINK FOR APPLY BUTTON IN ELSE BLOCK ###
		-->
		<!-- endfor  -->
        </ul>
      </div>

    </div>

    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <h3>Project Needs</h3>
        <ul class="circle--link--list">
		<!-- Link goes to applications page with position as context -->
		  {% for position in project.positions %}
          <li><a>{{ position.name }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        <p>{{ project.time }}</p>
      </div>

      <div class="circle--secondary--module">
        <h3>Applicant Requirements</h3>
        <p>{{ project.requirements }}</p>
      </div>

    </div>
  </div>

{% endblock %}