{% extends "layout.html" %}

{% block title_tag %}Edit {{ project.name }} Details | {{ block.super }}{% endblock %}
{% block body %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a href="{% url 'accounts:applications' pk=user.id %}">Applications</a></li>
        <li><a href="{% url 'accounts:details' pk=user.id %}">Profile</a></li>
      </ul>
    </nav>
  </div>
  <form method="POST" enctype="multipart/form-data" action="{% url 'projects:new' %}" id="project">
    {% csrf_token %}
	{{ formset.management_form }}

	  <div class="bounds circle--page circle--article">
		<div class="grid-70">
		  <div class="circle--article--body">
			<h3>Project Title</h3>
			  {{ form.name.errors }}
		      {{ form.name.help_text }}
			  {{ form.name }}
			<h3>Project URL</h3>
			  {{ form.url.errors }}
		      {{ form.url.help_text }}
			  {{ form.url }}
			<h3>Project Summary</h3>
			  {{ form.description.help_text }}
			  {{ form.description }}
		  </div>
		  <div class="circle--project--positions">
		  {% comment %}
			<h2>Positions</h2>

			<div class="circle--fluid--cell circle--fluid--secondary">
			  <!-- Positions for loop -->
			  {% for form in formset %}
			  <div class="article">
			    {{ form.name }}
					{% if form.name.errors %}
						{% for error in form.name.errors %}
							{{ error|escape }}
						{% endfor %}
					{% endif %}
				<div class="circle--article--body">
				{{ form.description }}
					{% if form.description.errors %}
						{% for error in form.description.errors %}
							{{ error|escape }}
						{% endfor %}
					{% endif %}
				</div>
			  </div>
			  {% endfor %}
			  {% if formset.non_form_errors %}
				{% for error in formset.non_form_errors %}
					{{ error|escape }}
				{% endfor %}
			  {% endif %}
			  <br><br>
			</div>
			{% endcomment %}
			<div class="bounds">
			  <div class="grid-100">
				<button type="submit" class="button button-primary" form="project" action="">Save Project</button>
				<a class="button button-text" href="#">Delete Project</a>
			  </div>
			</div>
		  </div>
		</div>

		<div class="grid-25 grid-push-5">
		  <div class="circle--secondary--module">
			<h3>Project Timeline</h3>
			{{ form.time }}
		  </div>

		  <div class="circle--secondary--module">
			<h3>Application Requirements</h3>
			{{ form.requirements }}
		  </div>

		</div>
	  </div>
  </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>
  {{ form.media }}
{% endblock %}
