{% extends "layout.html" %}

{% block title_tag %}{{ project.name }} | {{ block.super }}{% endblock %}
{% block body %}
{% if user == project.creator %}
  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        <a class="button" href="{% url 'projects:update' pk=project.id %}">Edit Project</a>
        <a class="button button-text:hover" href="{% url 'projects:suspend' pk=project.id %}" style="color: red;">Suspend Project</a>
      </div>
    </div>
  </div>
{% endif %}
  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--header">
        <h4 class="circle--article--section">Project</h4>
        <h1 class="circle--article--title">{{ project.name }}</h1>
        <p class="circle--article--byline">Project Owner: <a href="{% url 'accounts:details' pk=project.creator.id %}">{{ project.creator.display_name }} </a></p>
		<p>{{ project.url }}</p>
      </div>

      <div class="circle--article--body">
		{{ project.formatted_markdown|safe }}
		<!--
		ADDITIONAL CODE TO FORMAT LONG TEXT STRING EITHER IN TEMPLATE TAG OR IN VIEWS.
		-->
      </div>

      <div class="circle--project--positions">
        <h2>Positions</h2>

        <ul class="circle--group--list">
		<!-- 
		Use Django forloop to LIST Position titles and brief descriptions of positions. -->
			{% for position in project.positions.all%}
			<li>
				<h3>{{ position.name }}</h3>
				{% comment %}<a href="{% url 'projects:position' pk=position.id %}" class="button">Edit Position</a>{% endcomment %}
				<p>{{ position.description }}</p>
				<!-- Skills Required -->
				<h4>Skills Desired:</h4>
					<p>- 
					{% for skill in position.skills.all %}
					<strong>{{ skill.name }}</strong> - 
					{% endfor %}
					</p>
				{% if project.creator == user %}
				<a class="button button-primary" href="{% url 'projects:positiondelete' pk=position.project.id pospk=position.id %}" style="color: red;">Delete Position</a>
				{% elif position.user == user %}
				<a class="button button-primary button-inactive">YOU currently have this position.</a>
				{% elif position.filled %}
				<a class="button button-primary button-inactive">Position Filled</a>
				{% elif applicants %}<!-- This should be checking if user has an application for this. -->
					{% for applicant in applicants %}
						{% if applicant.position == position %}
							{% if applicant.status == 'u' %}
								<!-- 'u' is for undecided.  'r' is for rejected... -->
								<a class="button button-primary button-inactive">Your application is being processed.</a>
							{% else %}
								<a class="button button-primary button-inactive">This position is unavailable.</a>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% elif user.is_authenticated %}
				<a href="{% url 'projects:apply' pk=position.id %}" class="button button-primary">Apply</a>
				{% else %}
				<a class="button button-primary" href="{% url 'accounts:login' %}">Sign In to apply.</a>
				{% endif %}
			</li>
			{% endfor %}
		<!-- 
		####ADD LINK FOR APPLY BUTTON IN ELSE BLOCK ###
		-->
		<!-- endfor  -->
        </ul>
      </div>

    </div>

    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <h3>Project Needs</h3>
        <ul class="circle--link--list">
		<!-- Link goes to applications page with position as context -->
		  {% for position in project.positions.all %}
          <li><a>{{ position.name }}</a><!-- If user is owner --><a href="{% url 'projects:changeposition' pk=position.project.id pospk=position.id %}">[Edit]</a></li>
		  
          {% endfor %}
        </ul>
		<!-- If user is signed in and is owner -->
		<a class="button button-primary" href="{% url 'projects:newposition' pk=project.id %}">Add Position</a>
		<!-- -->
      </div>

      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        <p>{{ project.time }}</p>
      </div>

      <div class="circle--secondary--module">
        <h3>Applicant Requirements</h3>
        <p>{{ project.requirements }}</p>
      </div>

    </div>
  </div>

{% endblock %}